<tr><th>Nombre</th><th>Cantidad</th><th>Precio</th><th>Cambio</tr></th>
<tr><td>Lima</td><td>100</td><td>40.22</td><td>8.02</td></tr>
<tr><td>Naranja</td><td>50</td><td>106.28</td><td>15.18</td></tr>
<tr><td>Caqui</td><td>150</td><td>85.46</td><td>2.02</td></tr>
<tr><td>Mandarina</td><td>200</td><td>80.89</td><td>29.66</td></tr>
<tr><td>Durazno</td><td>95</td><td>73.48</td><td>33.11</td></tr>
<tr><td>Mandarina</td><td>50</td><td>80.89</td><td>15.79</td></tr>
<tr><td>Naranja</td><td>100</td><td>106.28</td><td>35.84</td></tr>